<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023872780093-crgof5at2p6gp1j35pv53aeaf533p70i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023872780093-crgof5at2p6gp1j35pv53aeaf533p70i</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ84eryhvyC4dVGiWX3Xmcs3D7lhRJTVg</string>
	<key>GCM_SENDER_ID</key>
	<string>1023872780093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Kelvin.Beachers</string>
	<key>PROJECT_ID</key>
	<string>beachers-49bec</string>
	<key>STORAGE_BUCKET</key>
	<string>beachers-49bec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023872780093:ios:aecaa28b255ffbc2832754</string>
	<key>DATABASE_URL</key>
	<string>https://beachers-49bec.firebaseio.com</string>
</dict>
</plist>